# Monitor battery capacity changes
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", \
ATTR{capacity}=="[0-9]*", RUN+="/usr/local/bin/battery-conservation-control"

SUBSYSTEM=="power_supply", ATTR{status}=="Charging", \
ATTR{capacity}=="[0-9]*", RUN+="/usr/local/bin/battery-conservation-control"
