@import "macchiato.css";
* {
	border: none;
	border-radius: 10px;
  font-family: "Hack Nerd Font Propo" ;
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

/* .module { */
/*   padding-top:1px; */
/*   padding-bottom: 1px; */
/* } */
/**/
window#waybar.hidden {
	opacity: 0.5;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 8px;
	transition: none;
  color: @overlay0;
	background: transparent;
}

#workspaces {
    margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
    background: @rosewater;
}
#submap {
    margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
    background: @red;
}

#workspaces button {
  color: @overlay1;
  padding-left: 0px;
  padding-right: 0px;
}

#workspaces button:hover {
  color: @overlay1;
  background: transparent;
  
}

#workspaces button.active {
    color: @sapphire;
}

#tags {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 8px;
	background: #161320;
	transition: none;
}

#tags button {
	transition: none;
	color: #B5E8E0;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#tags button.occupied {
	transition: none;
	color: #F28FAD;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
	color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
}

#tags button.focused:hover {
    color: #E8A2AF;
}

#network {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
	color: @overlay0;
	background: @blue;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
	color: @overlay0;
	background: @lavender;
}

#battery {
	margin-top: 6px;
	margin-left: 6px;
    margin-right: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
	color: @overlay0;
	background: @sapphire;
}

#battery.charging, #battery.plugged {
	color: @overlay0;
    background-color: @sky;
}

#battery.critical:not(.charging) {
    background-color: @teal;
    color: @overlay0;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @blue;
        color: @overlay0;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
	color: @overlay0;
	background: @yellow;
}
#clock {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
	color: @overlay0;
	background: @pink;
	/*background: #1A1826;*/
}

#custom-sydtime {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
	color: @overlay0;
	background: @lavender;
	/*background: #1A1826;*/
}

#custom-blue_bat {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
	color: @overlay0;
	background: @pink;
	/*background: #1A1826;*/
}

#memory {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 8px;
	transition: none;
	color: @overlay0;
	background: @peach;
}
#cpu {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 8px;
	transition: none;
	color: @overlay0;
	background: @maroon;
}

#keyboard-state {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 12px;
	border-radius: 8px;
	transition: none;
	color: @overlay0;
	background: @lavender;
}

#keyboard-state label.locked {
    color: @red;
}

#tray {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 8px;
	transition: none;
	color: @overlay0;
	background: @flamingo;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 8px;
	transition: none;
    color: #89DCEB;
    background: #161320;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
	color: #161320;
	background: #F28FAD;
}

#custom-wallpaper {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
	color: #161320;
	background: #C9CBFF;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
	color: #161320;
	background: #E8A2AF;
}

#custom-media {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 8px;
	transition: none;
	color: #161320;
	background: #F2CDCD;
}
